@charset "UTF-8";
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

body {
  background-color: #FEFEFE;
  margin: 0px; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol ,li{
  list-style: none; }

* {
  padding: 0px;
  margin: 0px; }

.site-welcome {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #888;
  z-index: 1;
  justify-content: center;
  align-items: center; }

.site-welcome.active {
  display: flex; }

.topnavbar {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: 0.5s;
  color: #CBCACB; }

.topnavbar.active {
  background: white;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: black; }

.topinner {
  padding: 0 16px; }

.topnavbar nav {
  padding-top: 7px; }

.topnavbar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.topnavbar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative; }

.topnavbar nav > ul > li > a {
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative; }
/* 
.topnavbar nav > ul > li.active > a::after {
  position: absolute;
  content: '';
  display: block;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #E8676B;
  animation: mune 0.3s; } */

.topnavbar nav > ul > li.hlight > a::after {
  position: absolute;
  content: '';
  display: block;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #E8676B;
  animation: mune 0.3s; }

@keyframes mune {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }
/* 
.topnavbar .submenu {
  display: none;
  position: absolute;
  right: 0px;
  background: white;
  padding: 10px 15px;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); } */
/* 
.topnavbar li.active .submenu {
  display: block;
  animation: sitesubmue 0.3s; } */

@keyframes sitesubmue {
  0% {
    margin-right: 100%; }
  100% {
    margin-right: 0%; } }

.topnavbar .submenu > li {
  white-space: nowrap;
  margin-bottom: 10px; }

[data-x].offset {
  transform: translateY(100px); }

[data-x] {
  transform: translateY(0);
  transition: all 0.5s; }

.rs {
  color: #E8676B;
  font-size: 24px;
  font-family: "Arial Black";
  margin-right: 4px; }

.topnavbar .logo {
  padding-top: 3px;
  padding-bottom: 3px; }

.topnavbar .logo .card {
  color: #9A9DA2;
  font-size: 24px;
  font-family: "Arial Black"; }

.bananer {
  background-image: url(../image/bg.jpg);
  background-position: center center;
  height: 515px;
  background-size: cover; }

.bananer .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8); }

.Usercard {
  background-color: #FFFFFF;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -345px;
  position: relative; }

.Usercard .welcome {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  background-color: #E8676B;
  color: white;
  padding: 6px 13px;
  line-height: 22px;
  position: relative; }

.Usercard .triangle {
  display: inline;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #E8676B;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%; }

.Usercard .picture {
  float: left; }

.Usercard .profile {
  margin-left: 65px;
  float: left; }

.Usercard .maintext {
  padding: 50px;
  box-shadow: 0px 4px 6px 1px #b8b8b8; 
  display: flex;

}

.Usercard .profile h1 {
  margin-top: 23px; }

.Usercard .profile p {
  margin-top: 10px; }

.Usercard .profile hr {
  margin: 25px 0; }

.Usercard .profile dt {
  float: left;
  width: 30%;
  font-weight: bold;
  padding: 5px 0; }

.Usercard .profile dd {
  float: left;
  width: 70%;
  color: #9da0a7;
  padding: 5px 0; }

.Usercard .media {
  background-color: #E8676B;
  text-align: center;
  box-shadow: 0px 4px 6px 1px #b8b8b8; }

.Usercard .media a {
  display: inline-block;
  border-radius: 50%;
  line-height: 20px;
  padding: 10px;
  margin: 18px 20px; }

.Usercard .media a:hover {
  background-color: #D05C60; }

.Usercard .media svg {
  width: 20px;
  height: 20px;
  fill: white;
  vertical-align: top; }

.buttoninner {
  text-align: center;
  margin: 34px; }

.buttoninner .button {
  display: inline-block;
  border: 1px solid red;
  font-size: 14px;
  padding: 21px 55px;
  border-color: #CDCFD1;
  font-weight: bold;
  transition: box-shadow 0.3s;
  border-radius: 5px; }

.buttoninner .button:hover {
  box-shadow: 0px 4px 6px 0px #a9b5c2; }

.selfintroduction {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 楷体; }

section.skills {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;}

section.skills > h2 {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center; }

section.skills > ol > li {
  float: left;
  width: 44%;
  margin-left: 35px;
  box-sizing: border-box; 
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 0px #b8b8b8;
}

section.skills p{padding: 5px}

section.skills h3 {
  margin-bottom: 3px;
  font-size: 15px;
  color: #636973;
  text-align: center

}

section.skills > ol {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 0px #b8b8b8;
  padding: 30px;
  margin-top: 33px; }

  section.portfolio > h2 {
    margin-top: 30px;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center; }


.loading {
  width: 200px;
  height: 200px;
  position: relative; }

.loading::before, .loading::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: s 1.5s linear infinite;
  background: black; }

.loading::after {
  animation-delay: 0.75s; }

@keyframes s {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1; }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0; } }

#mySlider {
  margin-top: 33px; }

.swiper-container {
  width: 668px;
  height: 501px;
  display: flex;
  align-items: center; }



section.Massages{
  width: 668px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

}

section.Massages h2 {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin: 33px; }

section.Massages .messagelist{
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
section.Massages .text li{
  border-bottom: 1px solid #eee;
  padding: 16px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.7;
}

section #postMassages input{

}

section #postMassages #message {
  margin-top: 10px;
  display: block;
  border: 1px  solid gray;
  height: 40px;
  width: 100%;
  border-radius: 5px
 
}


section #postMassages #name {
  margin-top: 15px;
  border: 1px  solid gray;
  border-radius: 5px;
  height: 25px

  
 
 
}
section #postMassages #submit {
  margin-top: 15px;
  border: 1px  solid gray;
  border-radius: 5px;
    width: 46px;
    height: 25px;
    background-position: -84px -64px;
    text-align: center;
    line-height: 25px;



 
}
